<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VB2Html.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Cette section définit la configuration de l'enregistrement dans le fichier journal de My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Supprimez les marques de commentaire dans la section suivante pour écrire dans le journal des événements de l'application -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Supprimez les marques de commentaire dans la section suivante et remplacez APPLICATION_NAME par le nom de votre application à inscrire dans le journal des événements de l'application -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <VB2Html.My.MySettings>
            <setting name="IgnorerFrmDesigner" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Rendu_GenererTDM" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Rendu_GenererMultipageHtml" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Rendu_FrameHtml" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Rendu_DeclarationProcComplete" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Rendu_TronquerLignes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Rendu_TronquerLignes_NbLignes" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="SelectionnerTousLesFichiers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheminFichierProjet" serializeAs="String">
                <value/>
            </setting>
            <setting name="CheminFichierModeleHtml" serializeAs="String">
                <value/>
            </setting>
            <setting name="CheminFichierExportHtml" serializeAs="String">
                <value/>
            </setting>
            <setting name="VB2Txt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExporterTousLesFichiers" serializeAs="String">
                <value>False</value>
            </setting>
        </VB2Html.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
